.center {
  display: block;
  margin: auto;
}

.google-main-page {
  margin-top: 137px;
}

.searchBar {
  border-radius: 30px;
  max-width: 584px;
  display: block;
  margin: auto;
  margin-top: 8px;
  padding-left: 40px;
  font-family: arial, sans-serif;
  height: 50px;

  background-image: url("/images/search.svg");
  background-position: 15px 15px;
  background-repeat: no-repeat;
}

.navBar {
  height: 60px;
  text-align: right;
  margin: auto;
  padding: 20px;
}

.navItem {
  text-decoration: none;
  padding: 20px;
  margin: auto;
}

.content {
  height: 160px;
  padding: 20px;
}

.searchButton {
  text-align: center;
  padding-top: 18px;
  top: 58px;
  height: 70px;
}

.gsearch {
  margin: 4px 11px 4px 11px;
  padding: 0px 16px 0px 16px;
  border: 1px;
  height: 34px;
  color: rgb(60, 64, 67);
  background-color: #3c4043;
  font-family: arial, sans-serif;
}

.gsearch:hover {
  color: rgb(255, 255, 255);
}

.container {
  margin: 60px 45px 15.738px;
}

.advanced-title {
  font-family: arial, sans-serif;
  margin-top: 20px;
  margin-left: 55px;
}
.advanced-box {
  line-height: 16px;
  height: 50px;
  font-size: 13px;
  font-family: arial, sans-serif;
  font-weight: 400;
  text-decoration-color: rgb(34, 34, 34);
  overflow: hidden;
}
.search-dsc {
  padding-top: 10px;
  display: block;
  /* margin: auto; */
}
.dsc-content {
  padding-top: 7px;
  font-family: arial, sans-serif;
  color: rgb(85, 85, 85);
}

.eg-font {
  color: #666;
  font-size: 11px;
  font-family: monospace;
  /* white-space: pre; */
}

.dsc-header {
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  color: rgb(85, 85, 85);
}

.header-dsc {
  margin-right: -20px;
  font-size: 16px;
  font-style: normal;
  font-family: arial, sans-serif;
  font-weight: 500;
  vertical-align: baseline;
  height: 30px;
}

@media (max-width: 1200px) {
  .dsc-header {
    display: none;
  }
  .dsc-content {
    display: none;
  }
}
